:root{
    --colorLetra: #F5F7FC;
    --colorRegistro: #F5F7FC;
    --claro: #0093E6;
    --fondo: #7F94C9;
    --colorNav: #415996;
    --colorMain: #172D63;
    --principal: #021033;
    --letraHeader: black;

    --fuente: 'Arial';
    --tamano: medium;
}