/* 
COLORES LOGO
#6873a9 Azul claro
#18185b Azul oscuro
#d0e0fa Casi blanco

MÁS COLORES
#F5F7FC Casi blanco
#7F94C9 Azul claro
#415996
#172D63
#021033 Azul oscuro 

background-color: #247EB3;
background-color: #292F33;
background-color: #2E414C;
background-color: #336380;
background-color: #0093E6; claro
*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Public+Sans:wght@900&family=Roboto+Mono:wght@100;700&display=swap');
:root{
    --colorLetra: #F5F7FC;
    --colorRegistro: #F5F7FC;
    --claro: #0093E6;
    --fondo: #7F94C9;
    --colorNav: #415996;
    --colorMain: #172D63;
    --principal: #021033;
    --letraHeader: black;

    --fuente: 'Public Sans' ;
    --tamano: x-large;
}
