/* 
COLORES LOGO
#6873a9 Azul claro
#18185b Azul oscuro
#d0e0fa Casi blanco

MÁS COLORES
#F5F7FC Casi blanco
#7F94C9 Azul claro
#415996
#172D63
#021033 Azul oscuro 

background-color: #247EB3;
background-color: #292F33;
background-color: #2E414C;
background-color: #336380;
background-color: #0093E6; claro
*/
:root{
    --colorLetra: #F5F7FC;
    --colorRegistro: #F5F7FC;
    --claro: #dadada;
    --fondo: #cecece;
    --colorNav: #919191;
    --colorMain: #505050;
    --principal: #2b2b2b;
    --letraHeader: black;

    --fuente: 'Shantell Sans', cursive;
    --tamano: medium;
}  

body{
    background-color: var(--fondo);
    margin: 0;
    padding: 0;
    min-width: 348px;
    font-family: var(--fuente);
    font-size: var(--tamano);
}

header{
    color: var(--letraHeader);
    margin: .5em;
    display: flex;
    /* justify-content:space-evenly; */
    align-items: center;

    position:sticky; /*posicion absoluta pegada arriba*/
    z-index: 1;
    top: 0;
}
    header > span {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2em;
        text-align: center;
    }
        header > span > a{
            display: flex;
            text-align: center;
        }

        /*oculta las barras de opciones pero no los iconos*/ 
        header > nav > label[for]{
            display:none; 
        }


/* MENÚ */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    background-color: var(--colorNav);
    border-radius: 15px;
} 

    nav > ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: .5em;
        margin: 0;
    }
        nav > ul > li{
            margin: 0 .5em;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
            nav > ul > li >a{
                padding: .4em;
                display: block;
                border-radius: 15px;
                text-align: center;
                width: 100%;
            }
                nav > ul > li > a:hover{
                    background-color: #dbdbdbac;
                }

label{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

main{
    padding: .5em;
    color: var(--colorLetra);
    border-radius: 20px;
    background-color: var(--colorMain);
    margin: 1em;
}
    /* lista del usuario MAKA */
    main > ul > li{
        margin: .5em;
    }

footer{
    color: var(--colorLetra);
    background-color: var(--principal);
    padding: .5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
    footer > p {
        padding: 0 .5em;
    }

h1{
    padding: .5em;
}

table, th, td {
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    margin: .5em;
}
th{
    background-color: var(--claro);
    padding: .5em;
}
td{
    background-color: var(--principal);
    padding: .5em;
}

form{
    justify-content: center;
    display: flex;
    padding: 2em;
}
    form  > div{
        width: 41%; 
        background-color: var(--principal);
        padding: .5em;
        border-radius: 20px;
    }
        form > div > p > label{
            display: flex;
            justify-content: space-between;
        }

textarea{
    width: 90%;
}



/* -------------- CLASES --------------------------------------------------------------------------------------------- */
/* ARTÍCULOS */
.articulos{
    padding: 0 1em;
}
    .articulos > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
        .articulos > div > article {
            border-radius: 20px;
            margin: .5em;
            width: 30%;
            background-color: var(--principal);
        }
            .articulos > div > article > h3 {
                padding: 0 .5em;
            }
            .articulos > div > article > p {
                padding: 0 .5em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
            }
            .articulos > div > article > a {
                display: flex;
            }
                .articulos > div > article > a > img{
                    border-radius: 20px 20px 0 0;
                    width: 100%;
                }

.detalle{
    border-radius: 20px;
    background-color: var(--principal);
}

.detalle > img{
  width: 100%;
}

.detalle > h2{
    padding: .5em .5em 0 .5em;
}
.detalle > p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.aviso{
    padding: 0 .5em  1em .5em;
    text-align: center;
    border-radius: 20px;
    background-color: var(--principal);
}
    .aviso > a{
        margin: .4em;
        padding: .4em;
        border-radius: 15px;
        text-align: center;
        width: 40%;
    }
        .aviso > a:hover{
            background-color: #0092e6ac;
        }
/* ---------------------------------------------------------------------------------------------------------------------  */

/* -------------- IDENTIFICADORES --------------------------------------------------------------------------------------------- */
/* #seccion_resultado{
    justify-content: center;
    display: flex;
    padding: 2em;
}
    #seccion_resultado > div{
        width: 41%; 
        background-color: var(--principal);
        padding: .5em;
        border-radius: 20px;
    }
    #seccion_resultado > h2{
        margin-bottom: .5em;
    } */

    #seccion_resultado > div{
        margin-inline: 30%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--principal);
    }
#chkmenu {
    display: none;
}

#login{
    background-color: var(--claro);
}

#registro{
    background-color: var(--colorRegistro);
}

#campos > fieldset{
    width: 90%;
}
    #campos > fieldset > input{
        width: 90%;
    }
    #campos > fieldset > datalist{
        width: 90%;
    }

#campos > p > label > span {
    margin: .5em;
}

    #campos > p > label > span > input {
        width: 90%;
    }

/* ---------------------------------------------------------------------------------------------------------------------  */

/* -------------- MEDIAQUERIES --------------------------------------------------------------------------------------------- */
/*Móvil*/
@media screen and (max-width: 767px) {
    header {
        justify-content: space-between;
    }
        header > nav{
            padding: 0 .5em;
            width: 30%;
        }
            header > nav > ul{
                display: none;
            }

    header > nav > label[for]{
        display:block; 
        font-size: 2.5em;
    }

    form{
        margin: 0;
    }
        form  > div{
            width: 95%; 
        }
    
    header > span > a > img{
        width: 45px;
    }

    nav > ul > li >a > span{
        display: none;
    }
    
    body{
        font-size: .7em;
    }

    /* ARTÍCULOS */
    .articulos > div > article {
        width: 90%;
    }

    /* MENU */
    #chkmenu:checked + ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* width: 100%; */
        display: flex;
        /* justify-content: space-evenly; */
        padding: 0;
        margin: 0
    }
    #seccion_resultado > div{
        margin-inline: 10%;
    }

}

/*Tableta*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        font-size: .7em;
    }

    form  > div{
        width: 70%; 
    }

    /* ARTÍCULOS */
    .articulos > div > article {
        width: 40%;
    }

}
/* ---------------------------------------------------------------------------------------------------------------------  */
