/* 
COLORES LOGO
#6873a9 Azul claro
#18185b Azul oscuro
#d0e0fa Casi blanco

MÁS COLORES
#F5F7FC Casi blanco
#7F94C9 Azul claro
#415996
#172D63
#021033 Azul oscuro 

background-color: #247EB3;
background-color: #292F33;
background-color: #2E414C;
background-color: #336380;
background-color: #0093E6; claro
*/
@import url(index.css);
:root{
    --colorLetra: #000000;
    --colorRegistro: #ffffff;
    --claro: #dadada;
    --fondo: #cecece;
    --colorNav: #919191;
    --colorMain: #505050;
    --principal: #2b2b2b;
    --letraHeader: black;

    --fuente: 'Arial';
    --tamano: medium;
}  

header{
    display: none;
}