/* 
COLORES LOGO
#6873a9 Azul claro
#18185b Azul oscuro
#d0e0fa Casi blanco

MÁS COLORES
#F5F7FC Casi blanco
#7F94C9 Azul claro
#415996
#172D63
#021033 Azul oscuro 

background-color: #247EB3;
background-color: #292F33;
background-color: #2E414C;
background-color: #336380;
background-color: #0093E6; claro
*/
:root{
    --colorLetra: #F5F7FC;
    --colorRegistro: #1652e9;
    --claro: #0093E6;
    --fondo: #19233d;
    --colorNav: #061846;
    --colorMain: #040f29;
    --principal: #041d5c;
    --letraHeader: #F5F7FC;

    --fuente: 'Arial';
    --tamano: medium;
}
